In [11]:
import time
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd
from selenium import webdriver

In [12]:
executable_path = {"executable_path": "/usr/local/bin/chromedriver"}
browser= Browser("chrome", **executable_path, headless=False)

In [13]:
url = "https://mars.nasa.gov/news/"
browser.visit(url)
time.sleep(1)

In [14]:
html=browser.html
soup=BeautifulSoup(html,'html.parser')

In [15]:
article = soup.find("div", class_="list_text")
article

<div class="list_text"><div class="list_date">January 23, 2018</div><div class="content_title"><a href="/news/8301/nasas-next-mars-lander-spreads-its-solar-wings/" target="_self">NASA's Next Mars Lander Spreads its Solar Wings</a></div><div class="article_teaser_body">NASA's next mission to Mars passed a key test Tuesday, extending the solar arrays that will power the InSight spacecraft once it lands on the Red Planet this November.</div></div>

In [17]:
news_p = article.find("div", class_="article_teaser_body").text
news_p

"NASA's next mission to Mars passed a key test Tuesday, extending the solar arrays that will power the InSight spacecraft once it lands on the Red Planet this November."

In [19]:
news_title=article.find("div",class_="content_title").text
news_title

"NASA's Next Mars Lander Spreads its Solar Wings"

In [73]:
url2="http://space-facts.com/mars/"

In [74]:
tables=pd.read_html(url2)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [75]:
df=tables[0]
tables[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [80]:
df.columns=['Description','Value']
df

            Description                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [81]:
df.set_index('Description')
df

            Description                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [50]:
html_table=df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Description</th>\n      <th>Value</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [51]:
html_table.replace('\n','')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Description</th>      <th>Value</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-153 to 20 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [52]:
df.to_html('table.html')

In [101]:
import requests
import tweepy

In [102]:
url3="https://twitter.com/marswxreport?lang=en"

In [103]:
response=requests.get(url3)

In [106]:
soup=BeautifulSoup(response.text,'html.parser')

In [108]:
mars_weather_tweet = soup.find('div', attrs={"class": "tweet", "data-name": "Mars Weather"})
mars_weather_tweet

<div class="tweet js-stream-tweet js-actionable-tweet js-profile-popup-actionable dismissible-content original-tweet js-original-tweet " data-conversation-id="957085769541308416" data-disclosure-type="" data-follows-you="false" data-item-id="957085769541308416" data-name="Mars Weather" data-permalink-path="/MarsWxReport/status/957085769541308416" data-reply-to-users-json='[{"id_str":"786939553","screen_name":"MarsWxReport","name":"Mars Weather","emojified_name":{"text":"Mars Weather","emojified_text_as_html":"Mars Weather"}}]' data-screen-name="MarsWxReport" data-tweet-id="957085769541308416" data-tweet-nonce="957085769541308416-846a486e-4223-4704-b445-1c8c3f986b94" data-tweet-stat-initialized="true" data-user-id="786939553" data-you-block="false" data-you-follow="false">
<div class="context">
</div>
<div class="content">
<div class="stream-item-header">
<a class="account-group js-account-group js-action-profile js-user-profile-link js-nav" data-user-id="786939553" href="/MarsWxReport">
<img alt="" class="avatar js-action-profile-avatar" src="https://pbs.twimg.com/profile_images/2552209293/220px-Mars_atmosphere_bigger.jpg"/>
<span class="FullNameGroup">
<strong class="fullname show-popup-with-id u-textTruncate " data-aria-label-part="">Mars Weather</strong><span>‏</span><span class="UserBadges"></span><span class="UserNameBreak"> </span></span><span class="username u-dir u-textTruncate" data-aria-label-part="" dir="ltr">@<b>MarsWxReport</b></span></a>
<small class="time">
<a class="tweet-timestamp js-permalink js-nav js-tooltip" data-conversation-id="957085769541308416" href="/MarsWxReport/status/957085769541308416" title="7:00 PM - 26 Jan 2018"><span class="_timestamp js-short-timestamp " data-aria-label-part="last" data-long-form="true" data-time="1517022003" data-time-ms="1517022003000">Jan 26</span></a>
</small>
<div class="ProfileTweet-action ProfileTweet-action--more js-more-ProfileTweet-actions">
<div class="dropdown">
<button class="ProfileTweet-actionButton u-textUserColorHover dropdown-toggle js-dropdown-toggle" type="button">
<div class="IconContainer js-tooltip" title="More">
<span class="Icon Icon--caretDownLight Icon--small"></span>
<span class="u-hiddenVisually">More</span>
</div>
</button>
<div class="dropdown-menu is-autoCentered">
<div class="dropdown-caret">
<div class="caret-outer"></div>
<div class="caret-inner"></div>
</div>
<ul>
<li class="copy-link-to-tweet js-actionCopyLinkToTweet">
<button class="dropdown-link" type="button">Copy link to Tweet</button>
</li>
<li class="embed-link js-actionEmbedTweet" data-nav="embed_tweet">
<button class="dropdown-link" type="button">Embed Tweet</button>
</li>
</ul>
</div>
</div>
</div>
</div>
<div class="js-tweet-text-container">
<p class="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text" data-aria-label-part="0" lang="en">Sol 1945 (Jan 25, 2018), Sunny, high -22C/-7F, low -78C/-108F, pressure at 7.51 hPa, daylight 05:43-17:28</p>
</div>
<div class="stream-item-footer">
<div class="ProfileTweet-actionCountList u-hiddenVisually">
<span class="ProfileTweet-action--reply u-hiddenVisually">
<span aria-hidden="true" class="ProfileTweet-actionCount" data-tweet-stat-count="0">
<span class="ProfileTweet-actionCountForAria" id="profile-tweet-action-reply-count-aria-957085769541308416">0 replies</span>
</span>
</span>
<span class="ProfileTweet-action--retweet u-hiddenVisually">
<span class="ProfileTweet-actionCount" data-tweet-stat-count="8">
<span class="ProfileTweet-actionCountForAria" data-aria-label-part="" id="profile-tweet-action-retweet-count-aria-957085769541308416">8 retweets</span>
</span>
</span>
<span class="ProfileTweet-action--favorite u-hiddenVisually">
<span class="ProfileTweet-actionCount" data-tweet-stat-count="17">
<span class="ProfileTweet-actionCountForAria" data-aria-label-part="" id="profile-tweet-action-favorite-count-aria-957085769541308416">17 likes</span>
</span>
</span>
</div>
<div aria-label="Tweet actions" class="ProfileTweet-actionList js-actions" role="group">
<div class="ProfileTweet-action ProfileTweet-action--reply">
<button aria-describedby="profile-tweet-action-reply-count-aria-957085769541308416" class="ProfileTweet-actionButton js-actionButton js-actionReply" data-modal="ProfileTweet-reply" type="button">
<div class="IconContainer js-tooltip" title="Reply">
<span class="Icon Icon--medium Icon--reply"></span>
<span class="u-hiddenVisually">Reply</span>
</div>
<span class="ProfileTweet-actionCount ProfileTweet-actionCount--isZero ">
<span aria-hidden="true" class="ProfileTweet-actionCountForPresentation"></span>
</span>
</button>
</div>
<div class="ProfileTweet-action ProfileTweet-action--retweet js-toggleState js-toggleRt">
<button aria-describedby="profile-tweet-action-retweet-count-aria-957085769541308416" class="ProfileTweet-actionButton js-actionButton js-actionRetweet" data-modal="ProfileTweet-retweet" type="button">
<div class="IconContainer js-tooltip" title="Retweet">
<span class="Icon Icon--medium Icon--retweet"></span>
<span class="u-hiddenVisually">Retweet</span>
</div>
<span class="ProfileTweet-actionCount">
<span aria-hidden="true" class="ProfileTweet-actionCountForPresentation">8</span>
</span>
</button><button class="ProfileTweet-actionButtonUndo js-actionButton js-actionRetweet" data-modal="ProfileTweet-retweet" type="button">
<div class="IconContainer js-tooltip" title="Undo retweet">
<span class="Icon Icon--medium Icon--retweet"></span>
<span class="u-hiddenVisually">Retweeted</span>
</div>
<span class="ProfileTweet-actionCount">
<span aria-hidden="true" class="ProfileTweet-actionCountForPresentation">8</span>
</span>
</button>
</div>
<div class="ProfileTweet-action ProfileTweet-action--favorite js-toggleState">
<button aria-describedby="profile-tweet-action-favorite-count-aria-957085769541308416" class="ProfileTweet-actionButton js-actionButton js-actionFavorite" type="button">
<div class="IconContainer js-tooltip" title="Like">
<span class="Icon Icon--heart Icon--medium" role="presentation"></span>
<div class="HeartAnimation"></div>
<span class="u-hiddenVisually">Like</span>
</div>
<span class="ProfileTweet-actionCount">
<span aria-hidden="true" class="ProfileTweet-actionCountForPresentation">17</span>
</span>
</button><button class="ProfileTweet-actionButtonUndo ProfileTweet-action--unfavorite u-linkClean js-actionButton js-actionFavorite" type="button">
<div class="IconContainer js-tooltip" title="Undo like">
<span class="Icon Icon--heart Icon--medium" role="presentation"></span>
<div class="HeartAnimation"></div>
<span class="u-hiddenVisually">Liked</span>
</div>
<span class="ProfileTweet-actionCount">
<span aria-hidden="true" class="ProfileTweet-actionCountForPresentation">17</span>
</span>
</button>
</div>
</div>
</div>
</div>
</div>

In [111]:
mars=soup.find('p', class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").text
mars

'Sol 1945 (Jan 25, 2018), Sunny, high -22C/-7F, low -78C/-108F, pressure at 7.51 hPa, daylight 05:43-17:28'